{% extends 'base.html.twig' %}

{% block title %}Welcome to MovieWorld!{% endblock %}

 {% block javascripts %}
     {{ parent() }}
    <script>
        var activeFilter = '{{ filter ?? 'dates' }}';
    </script>
 {% endblock %}

{% block body %}
    {% if filtered_user is defined %}
        Showing movies added by {{ filtered_user }}  <a href="/">View all</a>
    {% endif %}
    <div class="movie-count">
        Found {{ movies | length }} movies
    </div>
    <div class="dual-column-container">
        <div class="left">
            {% for movie in movies %}
                <div class="movie-container">
                    <div class="top">
                        <div class="title">{{ movie.title }}</div>
                        <div class="posted-at">Posted {{ movie.getDatePublished()|date("m/d/Y") }}</div>
                    </div>
                    <div class="mid">
                        {{ movie.description }}
                    </div>
                    <div class="bottom">
                        <div class="rating">
                            <span class="likes {{ movie.votes|filter(v => v.positive and v.user == app.user)|length ? 'voted' : '' }}">{{ movie.votes|filter(v => v.positive)|length }} likes</span> |
                            <span class="hates {{ movie.votes|filter(v => v.positive == false and v.user == app.user)|length ? 'voted' : '' }}">{{ movie.votes|filter(v => v.positive == false)|length }} hates</span>
                        </div>
                        {% if app.user and movie.getAddedBy().id != app.user.id %}
                            <div class="vote">
                                <a class="positive {{ movie.votes|filter(v => v.positive and v.user == app.user)|length ? 'voted' : '' }}"
                                   href="/vote-positive/{{ movie.id }}"> Like</a> |
                                <a class="negative {{ movie.votes|filter(v => v.positive == false and v.user == app.user)|length ? 'voted' : '' }}"
                                   href="/vote-negative/{{ movie.id }}"> Hate</a>
                            </div>
                        {% endif %}
                        <div class="posted-by">
                            Posted by <a href="/user/{{ movie.getAddedBy().id }}">{{ (app.user == null or movie.getAddedBy().id != app.user.id) ? movie.getAddedBy().getName() : 'You' }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="right">
            {% if app.user %}
                <div class="add-movie">
                    <a href="/add-movie">
                        New Movie
                    </a>
                </div>
            {% endif %}
            <div class="filters">
                <div class="sort">Sort by:</div>
                <div class="likes"><label for="likesFilter">Likes</label><input id="likesFilter" type="checkbox" {{ filter is defined and filter == 'likes' ? 'disabled' : '' }}/></div>
                <div class="hates"><label for="hatesFilter">Hates</label><input id="hatesFilter" type="checkbox" {{ filter is defined and filter == 'hates' ? 'disabled' : '' }}/></div>
                <div class="dates"><label for="datesFilter">Dates</label><input id="datesFilter" type="checkbox" {{ filter is not defined or filter == 'dates' or filter == '' ? 'disabled' : '' }} /></div>
            </div>
        </div>
    </div>
    <div id="app">
        <App/>
    </div>

{% endblock %}